<!DOCTYPE html>
<html>
    <head>
        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tylertoptrumps/css/main.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tylertoptrumps/css/all-deck-view.css') }}">
        {% endblock %}

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{ asset('bundles/tylertoptrumps/js/jquery.watermark.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/tylertoptrumps/js/jquery.blockUI.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/tylertoptrumps/js/jquery.history.min.js') }}"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                $(".deck-card").each(function() {
                    var deckId = $(this).attr('id').replace('deck-card-', '');
                    var textOverlayJquery = $(this).find('.deck-card-text-overlay');
                    $(this).find('.deck-card-image')
                            .attr('src', Routing.generate('json_deck_image', { 'deckId': deckId }))
                            .hover(function() { textOverlayJquery.show(); },
                                   function() { textOverlayJquery.hide(); });
                });
            });
        </script>

        <title>View all decks</title>
    </head>
    <body>
        <div id="header">
            <h1>View all decks</h1>
        </div>
        <div id="content">
            {% for deck in decks %}
                <div id="deck-card-{{ deck.id }}" class="deck-card">
                    <div class="deck-card-image-container">
                        <img class="deck-card-image" alt="No image for this card" src="{{ asset('bundles/tylertoptrumps/images/no-deck-image.png') }}" />
                    </div>
                    <div class="deck-card-text-overlay">
                        <div class="deck-card-name">
                            {{ deck.name|e }}
                        </div>
                        <div class="deck-card-description">
                            {{ deck.description|e }}
                        </div>
                        <div class="deck-card-stat-container">
                            {% for stat in deck.stats %}
                                <div id="deck-stat-{{ stat.id }}" class="deck-stat">
                                    <span class="deck-stat-name">{{ stat.name|e }}: </span>
                                    <span class="deck-stat-min">{{ stat.min }}</span> to
                                    <span class="deck-stat-max">{{ stat.max }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="footer" class="clear">&nbsp;</div>
        <div id="loading" class="hidden">
            <img src="{{ asset('bundles/tylertoptrumps/images/loading.gif') }}" alt="Loading...">
        </div>
    </body>
</html>