<!DOCTYPE html>
<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="main.css">
        <link rel="stylesheet" type="text/css" href="card.css">

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script type="text/javascript" src="jquery.watermark.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                $('#card-name-input').watermark('Card name');
                $('#card-description-input').watermark('Card description');

                $('#save-button').click(function() {
                    /*
                     * Construct the post object.
                     */
                     cardObject = {};
                     cardObject['name'] = $('#card-name-input').val();
                     cardObject['description'] = $('card-description-input').val();

                     validateCard(cardObject);

                    $.post('/app_dev.php/json/deck/{{ deck.id }}/card', cardObject, function(data) {
                        //DAT - What to do?
                    });
                });
            });

            function validateObject(cardObject) {
                if (!cardObject['name'] || cardObject['name'].length < 3 || cardObject['name'].length > 50) {
                    $('#card-name-input').addClass('error');
                } else {
                    $('#card-name-input').removeClass('error');
                }

                if (!cardObject['description'] || cardObject['description'].length < 1 || cardObject['description'].length > 250) {
                    $('#card-description-input').addClass('error');
                } else {
                    $('#card-description-input').removeClass('error');
                }
            }
        </script>

        <title>Top Trumps - Admin</title>
    </head>
    <body>
        <div id="header">
            <h1>Header</h1>
        </div>
        <div id="content">
            <div id="card-container">
                <div id="card-image-container">
                    <img src="no-card-image.png" alt="No Image Selected" height="250" width="250">
                </div>
                <div id="card-name-container">
                    <input type="text" id="card-name-input" title="Enter the cards name (max 50 chars)" value="" />
                </div>
                <div id="card-description-container">
                    <textarea id="card-description-input" title="Enter the cards description (max 250 chars)"></textarea>
                </div>
                <div id="card-stat-container">
                    {% for cardStat in deck.stats %}
                    <div class="card-stat" id="stat-id-{{ cardStat.id }}">
                        <span class="card-stat-text">{{ cardStat.name }}</span>
                        <select class="card-stat-select">
                            {% for value in range(cardStat.min, cardStat.max) %}
                            <option value="{{ value }}">{{ value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="clear"></div>
                    {% endfor %}
                </div>
            </div>
            <div id="button-container">
                <a href="#" id="save-button" class="action-button">Save</a>
            </div>
            <div class="clear"></div>
        </div>
    </body>
</html>