<!DOCTYPE html>
<html>
    <head>
        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tylertoptrumps/css/main.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tylertoptrumps/css/sidebar.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tylertoptrumps/css/card.css') }}">
        {% endblock %}

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{ asset('bundles/tylertoptrumps/js/jquery.watermark.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/tylertoptrumps/js/jquery.blockUI.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/tylertoptrumps/js/jquery.history.min.js') }}"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                /*
                 * Whilst there is an ajax request outstanding the UI is always blocked.
                 */
                $(document).ajaxStart(function() {
                    if (DeckEdit.ajaxRequestsOutstanding === 0) {
                        $.blockUI({message: 'Processing...'});
                    }
                    DeckEdit.ajaxRequestsOutstanding++;
                });
                $(document).ajaxStop(function() {
                    DeckEdit.ajaxRequestsOutstanding--;
                    if (DeckEdit.ajaxRequestsOutstanding === 0) {
                        $.unblockUI();
                    }
                });

                $('#card-name-input').watermark('Card name');
                $('#card-description-input').watermark('Card description');

                $('#card-list').on('click', '.card-list-element', function() {
                    var cardId = $(this).attr('id').replace('card-', '');

                    DeckEdit.selectCard(cardId);
                });

                $("#new-card-list-element").on("click", DeckEdit.newCard);

                $("#card-image").on("click", function() {
                    /*
                     * An input element has to be visible with focus before the
                     * click event will fire on it.
                     */
                    $("#card-image-input").show().focus().click().hide();
                });

                $("#card-image-input").on("change", DeckEdit.loadImageBytes);

                {% if card != null %}
                DeckEdit.selectCard({{ card.id }});
                {% else %}
                DeckEdit.newCard();
                {% endif %}
            });

            var DeckEdit = {
                History: window.History,

                ajaxRequestsOutstanding: 0,

                deckId: {{ deck.id|e('js') }},

                cardImageBytes: null,

                selectCard: function(cardId) {
                    $.get(Routing.generate('json_card_view', {'deckId': DeckEdit.deckId, 'cardId': cardId}))
                     .done(DeckEdit.loadCardData);
                },

                newCard: function() {
                    $(".card-list-element").removeClass("selected-card-list-element");
                    DeckEdit.pushCardToHistory(null);
                    DeckEdit.clearCard();
                },

                clearCard: function() {
                    DeckEdit.clearValidation();

                    DeckEdit.cardImageBytes = null;
                    $("#card-name-input").val("");
                    $("#card-description-input").val("");
                    $("#card-image-input").val("");
                    $("#card-image").attr("src", "{{ asset('bundles/tylertoptrumps/images/no-card-image.png') }}");
                    $(".card-stat-select").val($(".card-stat-select option:first").val());
                    $("#delete-button").off("click").addClass("disabled");
                    $("#save-button").off("click").on("click", DeckEdit.submitCard);
                },

                pushCardToHistory: function(cardId) {
                    var currentUrl = window.location.pathname;

                    if (cardId) {
                        if (/card$/.test(currentUrl)) {
                            window.History.pushState(null, null, "card/" + cardId);
                        } else {
                            window.History.pushState(null, null, cardId)
                        }
                    } else {
                        if (/card$/.test(currentUrl)) {
                            window.History.pushState(null, null, "card");
                        } else {
                            window.History.pushState(null, null, "../card");
                        }
                    }
                },

                loadCardData: function(card) {
                    DeckEdit.clearCard();
                    DeckEdit.cardId = card.id;
                    DeckEdit.pushCardToHistory(card.id);

                    $("#card-image").attr("src", Routing.generate('json_card_image', { 'deckId': DeckEdit.deckId, 'cardId': card.id }));
                    $("#card-name-input").val(card.name);
                    $("#card-description-input").val(card.description);
                    card.stat_values = card.stat_values ? card.stat_values : [];

                    $(".card-stat-select").val($(".card-stat-select option:first").val());
                    for (var ii = 0; ii < card.stat_values.length; ii++) {
                        var statValue = card.stat_values[ii];
                        $("#stat-id-" + statValue.stat.id).find("select").val(statValue.value);
                    }

                    $(".card-list-element").removeClass("selected-card-list-element");
                    $("#card-" + DeckEdit.cardId).addClass("selected-card-list-element");

                    $("#delete-button").off("click").on("click", function() {
                        DeckEdit.deleteCard(card.id);
                    }).removeClass("disabled");
                    $("#save-button").off("click").on("click", function() {
                        DeckEdit.submitCard(card.id);
                    });
                },

                deleteCard: function(cardId) {
                    var url = Routing.generate('json_card_delete', { 'deckId': DeckEdit.deckId, 'cardId': cardId });

                    $.ajax({ "url": url, "method": "DELETE" })
                     .done(function(card) { DeckEdit.deleteCardComplete(cardId, card); })
                     .error(function() { alert("Failed"); });
                },

                deleteCardComplete: function(cardId, card) {
                    $('#card-' + cardId).remove();
                    DeckEdit.clearCard();
                },

                loadImageBytes: function() {
                    var reader = new FileReader();
                    var image = $("#card-image-input")[0].files[0];
                    reader.onload = (function(imageFile) {
                        return function(event) {
                            DeckEdit.cardImageBytes = event.target.result;
                            $("#card-image").attr("src", event.target.result);
                        };
                    })(image);
                    reader.readAsDataURL(image);
                },

                clearValidation: function() {
                    $(".invalid").removeClass("invalid");
                },

                validateCard: function(card) {
                    var validationPassed = true;

                    if (card.name === null || card.name.length < 1) {
                        $("#card-name-input").addClass("invalid");
                        validationPassed = false;
                    }
                    if (card.description === null || card.description.length < 1) {
                        $("#card-description-input").addClass("invalid");
                        validationPassed = false;
                    }
                    if ((card.image === null || card.image.length < 1) && DeckEdit.cardId === null) {
                        $("#card-image").addClass("invalid");
                        validationPassed = false;
                    }

                    return validationPassed;
                },

                submitCard: function(cardId) {
                    var card = {};
                    card.name = $("#card-name-input").val();
                    card.description = $("#card-description-input").val();
                    card.image = DeckEdit.cardImageBytes;
                    card.stat_values = [];

                    $(".card-stat").each(function() {
                        var statValue = {};
                        statValue.id = $(this).attr("id").replace("stat-id-", "");
                        statValue.value = $(this).find("select").val();

                        card.stat_values.push(statValue);
                    });

                    if (DeckEdit.validateCard(card)) {
                        /*
                         * The url depends on whether we are creating or updating a
                         * card.
                         */
                        var url = null;
                        if (cardId) {
                            url = Routing.generate('json_card_update', {'deckId': DeckEdit.deckId, 'cardId': cardId});
                        } else {
                            url = '{{ path('json_card_create', {'deckId': deck.id}) }}';
                        }

                        $.post(url, card)
                         .done(DeckEdit.cardSubmitComplete)
                         .error(function() { alert("Failed"); });
                    }
                },

                cardSubmitComplete: function(card) {
                    /*
                     * Replace the name of the card if it already exists in the
                     * card list. Otherwise add the new card to the end of the
                     * list.
                     */
                    var cardId = "card-" + card.id;
                    var existingCard = $("#" + cardId);
                    if (existingCard.length) {
                        existingCard.html(card.name);
                    } else {
                        $("#new-card-list-element").before("<li id='" + cardId + "' class='card-list-element'>" + card.name + "</li>");
                        DeckEdit.selectCard(card.id);
                    }
                }
            }
        </script>

        <title>Deck edit</title>
    </head>
    <body>
        <div id="header">
            <h1>{{ deck.name }}</h1>
        </div>
        <div id="content">
            <div id="sidebar">
                <ul id="card-list">
                    {% for card in deck.cards %}
                        <li id="card-{{ card.id|e }}" class="card-list-element">{{ card.name|e }}</li>
                    {% endfor %}
                    <li id="new-card-list-element">New card</li>
                </ul>
            </div>
            <div id="main-content">
                <div id="card-container">
                    <div id="card-image-container">
                        <img id="card-image" src="{{ asset('bundles/tylertoptrumps/images/no-card-image.png') }}" alt="No Image Selected" height="250" width="250">
                    </div>
                    <input type="file" id="card-image-input" name="image" class="hidden" accept="image/png,image/jpg,image/jpeg,image/gif"/>
                    <p id="card-image-bytes" class="hidden"></p>
                    <div id="card-name-container">
                        <input type="text" id="card-name-input" name="name" title="Enter the cards name (max 50 chars)" value="" />
                    </div>
                    <div id="card-description-container">
                        <textarea id="card-description-input" name="description" title="Enter the cards description (max 250 chars)"></textarea>
                    </div>
                    <div id="card-stat-container">
                        {% for cardStat in deck.stats %}
                            <div class="card-stat" id="stat-id-{{ cardStat.id|e }}">
                                <span class="card-stat-text">{{ cardStat.name|e }}</span>
                                <input type="number" class="card-stat-select" name="stat-{{ cardStat.id|e }}" min="{{ cardStat.min }}" max="{{ cardStat.max }}">
                                <select class="card-stat-select" name="stat-{{ cardStat.id|e }}">
                                    {% for value in range(cardStat.min, cardStat.max) %}
                                        <option value="{{ value|e }}">{{ value|e }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div id="button-container">
                    <a href="#" id="delete-button" class="action-button">Delete</a>
                    <a href="#" id="save-button" class="action-button">Save</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div id="footer" class="clear">&nbsp;</div>
        <div id="loading" class="hidden">
            <img src="{{ asset('bundles/tylertoptrumps/images/loading.gif') }}" alt="Loading...">
        </div>
    </body>
</html>