<!DOCTYPE html>
<html>
    <head>
        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tylertoptrumps/css/main.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tylertoptrumps/css/card.css') }}">
        {% endblock %}

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script type="text/javascript" src="{{ asset('bundles/tylertoptrumps/js/jquery.watermark.min.js') }}"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                $('#card-name-input').watermark('Card name');
                $('#card-description-input').watermark('Card description');

                $(".card-list-element").click(function() {
                    var cardId = $(this).attr('id').replace('card-', '');

                    DeckEdit.selectCard(cardId);
                });

                {% if card != null %}
                DeckEdit.selectCard({{ card.id }});
                {% else %}
                DeckEdit.newCard();
                {% endif %}
            });

            var DeckEdit = {
                deckId: {{ deck.id }},

                selectCard: function(cardId) {
                    $.get(Routing.generate('json_card_view', {'deckId': DeckEdit.deckId, 'cardId': cardId}))
                     .done(DeckEdit.loadCardData);
                },

                newCard: function() {
                    $("#save-button").click(function() {
                        DeckEdit.submitCardData();
                    });
                },

                loadCardData: function(card) {
                    $("card-name-input").val(card["name"]);
                    $("card-description-input").val(card["description"]);

                    for (var ii = 0; ii < card["statValues"].length; ii++) {
                        var statValue = card["statValues"][ii];
                        $("#stat-id-" + statValue["stat"]["id"]).find("select").val(statValue["value"]);
                    }

                    $("#save-button").click(function() {
                        DeckEdit.submitCardData(card["id"]);
                    });
                },

                submitCardData: function(cardId) {
                    var card = {};

                    card["name"] = $("#card-name-input").val();
                    card["description"] = $("#card-description-input").val();
                    card["statValues"] = [];

                    $(".card-stat").each(function() {
                        var statValue = {};
                        statValue["statId"] = $(this).attr("id");
                        statValue["value"] = $(this).find("select").val();

                        card["statValues"].push(statValue);
                    });

                    var url = null;
                    if (cardId) {
                        url = Routing.generate('json_card_update', {'deckId': DeckEdit.deckId, 'cardId': cardId});
                    } else {
                        url = '{{ path('json_card_create', {'deckId': deck.id}) }}';
                    }
                    $.post(url, card)
                     .done(DeckEdit.cardSubmitComplete)
                     .error(function() { alert("Failed"); });
                },

                cardSubmitComplete: function(response) {
                    alert(response); // TODO - Sort something out here.
                }
            }
        </script>

        <title>Deck edit</title>
    </head>
    <body>
        <div id="header">
            <h1>{{ deck.name }}</h1>
        </div>
        <div id="content">
            <div id="sidebar">
                <ul id="card-list">
                    {% for card in deck.cards %}
                        <li id="card-{{ card.id }}" class="card-list-element">{{ card.name }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div id="main-content">
                <div id="card-container">
                    <div id="card-image-container">
                        <img src="{{ asset('bundles/tylertoptrumps/images/no-card-image.png') }}" alt="No Image Selected" height="250" width="250">
                    </div>
                    <div id="card-name-container">
                        <input type="text" id="card-name-input" title="Enter the cards name (max 50 chars)" value="" />
                    </div>
                    <div id="card-description-container">
                        <textarea id="card-description-input" title="Enter the cards description (max 250 chars)"></textarea>
                    </div>
                    <div id="card-stat-container">
                        {% for cardStat in deck.stats %}
                            <div class="card-stat" id="stat-id-{{ cardStat.id }}">
                                <span class="card-stat-text">{{ cardStat.name }}</span>
                                <select class="card-stat-select">
                                    {% for value in range(cardStat.min, cardStat.max) %}
                                        <option value="{{ value }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="clear"></div>
                        {% endfor %}
                    </div>
                </div>
                <div id="button-container">
                    <a href="#" id="save-button" class="action-button">Save</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div id="footer" class="clear">&nbsp;</div>
    </body>
</html>